{{define "subject"}}Reset Your Autosphere Password{{end}}

{{define "plainBody"}}
Hi,

We received a request to reset your password for your Autosphere account. If you made this request, please click the link below to reset your password:

{{.frontendURL}}/reset-password?token={{.resetToken}}

If you didn’t request a password reset, you can safely ignore this email.

Please note that this is a one-time use link and it will expire in 1 hour.

Thanks,  
The Autosphere Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p>Hi,</p>

<p>We received a request to reset your password for your Autosphere account. If you made this request, please click the button below to reset your password:</p>

<p><a href="{{.frontendURL}}/reset-password?token={{.resetToken}}" 
    style="display:inline-block; padding: 10px 20px; font-size: 16px; color: #fff; background-color: #007BFF; 
    text-decoration: none; border-radius: 5px;">Reset Password</a></p>

<p>If the button above doesn't work, you can also copy and paste the following link into your browser:</p>

<p><a href="{{.frontendURL}}/reset-password?token={{.resetToken}}">
{{.frontendURL}}/reset-password?token={{.resetToken}}</a></p>

<p>If you didn’t request a password reset, you can safely ignore this email.</p>

<p>Please note that this is a one-time use link and it will expire in <strong>1 hour</strong>.</p>

<p>Thanks,</p>
<p>The Autosphere Team</p>

</body>
</html>
{{end}}
